* {
    margin: 0px;
    padding: 0px;
}

#main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#products {
    border: 1px solid black;
}

#main div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#banner-img {
    height: 100%;
    width: 100%;
}
#main button {
    padding-left: 10px;
    padding-right: 10px;
}